

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.prime{
   width: 60%;
   margin-left: 25%; 
   margin-top: 50px;
}

.segun{
   margin-left: 20%;

}

.terce{
   margin-left: 15%;
   width: 70%;
}

.cuar{
   width: 100%;
}

.quin{
   margin-left: 250px;
}

.sext{
   margin-top: 20px;
}

.genero{
   margin-left: 8%;
   text-align: center;
}

.sep{
   margin-left:25%;
   width: 60%;
}







